.section{
    display: flex;
    margin-left: 40%;
    font-size: 20px;
    margin-bottom: 20px;
}
.section2{
    display: flex;
    margin-left: 40%;
    font-size: 20px;
    margin-bottom: 20px;
}
.section3{
    display: flex;
    margin-left: 40%;
    font-size: 20px;
    margin-bottom: 20px;
}
